@page "/"
@inject IJSRuntime JSRuntime
@using Models
@using Extensions

<div class="board fixed-bottom swappable-container">
    <div class="row">
        <div class="col-5"></div>
        <button class="btn btn-success" @onclick="@AddPiece">Add piece</button>
    </div>

    @for (int x = 0; x < pieces.GetLength(0); ++x)
    {
        <div class="row">
            <div class="col-5"></div>
            @for (int y = 0; y < pieces.GetLength(1); ++y)
            {
                <Piece Drop="@OnPieceDrop" Model="@pieces[x, y]"></Piece>
            }
        </div>
    }
</div>

<div class="main-row swappable-container">
    <div class="row">
        @for (int i = 0; i < AppState.PiecesOnTable.Count + 1; i++)
        {
            <Cell />
        }
    </div>
</div>

@code {
    bool firstRender = true;
    PieceModel[,] pieces = new PieceModel[2, 14];

    protected override async Task OnInitAsync()
    {
        AppState.OnPiecesOnTableChange += PiecesOnTableChange;
        Get14Pieces();
    }

    void OnPieceDrop(PieceModel source, PieceModel target)
    {
        var (sourceX, sourceY) = pieces.CoordinatesOf(source);
        var (targetX, targetY) = pieces.CoordinatesOf(target);
        var tmp = pieces[sourceX, sourceY];
        pieces[sourceX, sourceY] = pieces[targetX, targetY];
        pieces[targetX, targetY] = tmp;
        StateHasChanged();
    }

    void Get14Pieces()
    {
        //get 14 pieces for testing purpose
        for (int i = 0; i <= 13; i++)
        {
            pieces[0, i] = new PieceModel(i, i, PieceModel.Colors.Blue);
        }

        for (int i = 0; i <= 13; i++)
        {
            pieces[1, i] = new PieceModel(i, i, PieceModel.Colors.Black);
        }
    }

    protected override async Task OnAfterRenderAsync()
    {
        if (firstRender)
        {
            firstRender = false;
            //await JSRuntime.InvokeAsync<bool>("mountDraggable");
        }
    }

    void AddPiece()
    {
        //pieces.Add(new PieceModel(40, 4, PieceModel.Colors.Black));
    }

    void PiecesOnTableChange()
    {
        Console.WriteLine("Added piece:" + AppState.PiecesOnTable.Last());
        StateHasChanged();
    }
}
