@page "/waitingRoom/{RoomName}"
@using Services

<AuthorizeView>
    <Authorized>
        <div>
            <h4>@RoomName</h4>
            @foreach (var message in messages)
            {
                <div>@message</div>
            }

            <input @bind="@Message" />
            <button class="btn btn-primary" @onclick="@SendMessage">Send message</button>
            <div></div>
        </div>
    </Authorized>
    <NotAuthorized>
        Log in!
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    [Parameter]
    private string RoomName { get; set; }

    List<string>
    messages = new List<string>();
    string userName;
    public string Message { get; set; }

    protected override async Task OnInitAsync()
    {
        RoomState.Rooms[RoomName].OnMessageReceive += MessageReceive;
        messages = RoomState.Rooms[RoomName].Messages;
        var authState = await authenticationStateTask;
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            userName = user.Identity.Name;
        }
    }

    void MessageReceive()
    {
        messages = RoomState.Rooms[RoomName].Messages;
        Invoke(() => StateHasChanged());
    }

    void SendMessage()
    {
        RoomState.Rooms[RoomName].Message($"{userName}: {Message}");
        Message = "";
    }
}
