body {
    background-color: rgb(0, 74, 11);
    background-image: url(/background.png);
}

.medium-font {
    font-size: 20px;
    color: blanchedalmond;
}

.error-message {
    background: indianred;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 2px solid black;
}

.error-text {
    color: white;
    font-size: 30px;
    margin: auto;
}

.board {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    align-items: end;
    margin-bottom: 20px;
}

@media(max-width: 1114px) {
    .board {
        width: 228px;
    }
}

.main-row {
    min-width: 300px;
    max-width: 60%;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    overflow: auto;
    padding: 4px;
}

.player-name {
    border: 3px solid;
    border-color: transparent;

    &.player-turn {
        border-color: blue;
    }
}

