.index-page {
    width: 50%;
    margin-right: auto;
    margin-left: auto;

    .btn {
        margin-top: 5px;
    }

    .create-room {
        margin-top: 10px;
    }

    .inline {
        display: flex;
        align-items: center;
    }
}
