.piece {
    margin: 1px;
    width: 33px;
    height: 49px;
    text-align: center;
    vertical-align: middle;
    line-height: 47px;
    font-size: 26px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    background-image: url(/background.png);
}

.yellow {
    color: rgb(247,159,33);
}

.black {
    color: black;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.empty-piece {
    background: rgba(255,255,255,0.7);
}