body {
  background-color: #004a0b;
  background-image: url(/background.png); }

.medium-font {
  font-size: 20px;
  color: blanchedalmond; }

.error-message {
  background: indianred;
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 2px solid black; }

.error-text {
  color: white;
  font-size: 30px;
  margin: auto; }
