.index-page {
  width: 50%;
  margin-right: auto;
  margin-left: auto; }
  .index-page .btn {
    margin-top: 5px; }
  .index-page .create-room {
    margin-top: 10px; }
  .index-page .inline {
    display: flex;
    align-items: center; }
