.sets {
  min-height: 200px;
  min-width: 200px;
  border: 3px solid #b3a377;
  padding: 7px;
  background-image: url(/wood.png); }

.set {
  display: flex;
  margin: auto 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content; }

.player-0-sets {
  bottom: 0px;
  position: absolute;
  z-index: 9999; }

@media (max-width: 4000px) {
  .player-0-sets {
    left: 25%; } }

@media (max-width: 2000px) {
  .player-0-sets {
    left: 17%; } }

@media (max-width: 1900px) {
  .player-0-sets {
    left: 21%; } }

@media (max-width: 1800px) {
  .player-0-sets {
    left: 20%; } }

@media (max-width: 1700px) {
  .player-0-sets {
    left: 17%; } }

@media (max-width: 1600px) {
  .player-0-sets {
    left: 15%; } }

@media (max-width: 1500px) {
  .player-0-sets {
    left: 13%; } }

@media (max-width: 1400px) {
  .player-0-sets {
    left: 10%; } }

@media (max-width: 1300px) {
  .player-0-sets {
    left: 7%; } }

@media (max-width: 1200px) {
  .player-0-sets {
    left: 5%; } }

.player-1-sets {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 9999; }

.player-2-sets {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9999; }

.player-3-sets {
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 9999; }
