@page "/createRoom"
@using Rummy.Client.Services
@inject ChatService ChatService
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper


<h1>Create Room</h1>
<div class="row">
    <label>Room Name:</label>
</div>
<div class="row">
    <input type="text" class="form-control" bind="@roomName" />
</div>
<div class="row">
    <input type="button" id="sendMessage" value="Create Room" class="btn btn-primary" onclick="@CreateRoomAction" />
</div>

@functions{
    string roomName;
    
    async void CreateRoomAction()
    {
        await ChatService.CreateRoom(roomName);
        UriHelper.NavigateTo($"chatRoom/{roomName}");
    }
}
