@page "/"
@using Rummy.Client.Services
@inject AuthService AuthService
    
@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@if (isAuthenticated)
{
    <p>Welcome page</p>
}
else
{
    <p>You are not logged in</p>
}

@functions{
    string username;
    bool isAuthenticated;

    protected override void OnInit()
    {
        isAuthenticated = AuthService.TryGetUsername(out username);
    }
}

