@page "/"
@using Rummy.Client.Services
@inject AuthService AuthService
@inject ChatService ChatService
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@*<SurveyPrompt Title="How is Blazor working for you?" />*@

<button class="btn btn-primary" type="button" onclick="@JoinRoomAction">Join Room</button>
<button class="btn btn-primary" type="button" onclick="@CreateRoomAction">Create Room</button>

@functions{
    string username;

    protected override async Task OnInitAsync()
    {
        await ChatService.StartAsync();
    }

    void JoinRoomAction()
    {
        UriHelper.NavigateTo("rooms");
    }

    void CreateRoomAction()
    {
        UriHelper.NavigateTo("createRoom");
    }
}

