@layout EmptyLayout
@page "/login"
@using Rummy.Shared.Models
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@using System.Text
@inject LocalStorage Storage
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="login-box col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input bind="@user.Email" type="text" name="username" id="username" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input bind="@user.Password" type="password" name="password" id="password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="text-danger"><span>@ErrorMessage</span></label><br>
                            <button type="button" onclick="@LoginClick">Login</button>
                        </div>
                        <div id="register-link" class="text-right">
                            <a href="register" class="text-info">Register here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@functions {
    public User user = new User();
    public string ErrorMessage { get; set; }

    async void LoginClick()
    {
        var stringContent = new StringContent(Json.Serialize(user), Encoding.UTF8, "application/json");
        var httpResponse = await Http.PostAsync("api/Auth/login", stringContent);
        if (httpResponse.IsSuccessStatusCode)
        {

            var auth = Json.Deserialize<AuthResponse>(await httpResponse.Content.ReadAsStringAsync());
            Storage.SetItem("auth", auth);
            UriHelper.NavigateTo("");
        }
        else
        {
            ErrorMessage = "Invalid username or password";
            this.StateHasChanged();
        }
    }
}
