@layout LoginLayout
@page "/login"
@using Rummy.Shared.Models
@using System.Net.Http.Headers
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@inject LocalStorage Storage
@inject HttpClient Http


<div class="container-fluid">
    <h1>Login</h1>
    <form>
        <div class="container">
            <label><b>Email</b></label>
            <input type="text" name="email" placeholder="Enter Email" bind="@user.Email" required />

            <label><b>Password</b></label>
            <input type="password" name="password" placeholder="Enter Password" bind="@user.Password" required />

            <button type="button" onclick="@LoginClick">Login</button>
        </div>
    </form>
</div>

@functions {
    public User user = new User();
    public string Email { get; set; }
    public string Password { get; set; }

    async void LoginClick()
    {
        var response = await Http.PostJsonAsync<AuthResponse>("api/Auth/login", user);
        Storage.SetItem("auth", response);
    }
}
