@layout LoginLayout
@page "/register"
@using Rummy.Shared.Models
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@inject LocalStorage Storage
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="login-box col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info">Register</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input bind="@user.Email" type="text" name="username" id="username" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input bind="@user.Password" type="password" name="password" id="password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="text-danger"><span>@ErrorMessage</span></label><br>
                            <button type="button" onclick="@RegisterClick">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@functions {
    public User user = new User();
    public string ErrorMessage { get; set; }

    async void RegisterClick()
    {
        var response = await Http.PostJsonAsync<AuthResponse>("api/Auth/register", user);
        Storage.SetItem("auth", response);
        UriHelper.NavigateTo("");
    }
}
