@layout LoginLayout
@page "/register"
@using Rummy.Shared.Models
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@inject LocalStorage Storage
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<div class="container-fluid">
    <h1>Register</h1>
    <form>
        <div class="container">
            <label><b>Email</b></label>
            <input type="text" name="email" placeholder="Enter Email" bind="@user.Email" required />

            <label><b>Password</b></label>
            <input type="password" name="password" placeholder="Enter Password" bind="@user.Password" required />

            <button type="button" onclick="@RegisterClick">Register</button>
        </div>
    </form>
</div>

@functions {
    public User user = new User();

    async void RegisterClick()
    {
        var response = await Http.PostJsonAsync<AuthResponse>("api/Auth/register", user);
        Storage.SetItem("auth", response);
        UriHelper.NavigateTo("");
    }
}
