@layout LoginLayout
@page "/register"

<div class="container-fluid">
    <h1>Register</h1>
    <form>
        <div class="container">
            <label><b>Email</b></label>
            <input type="text" name="email" placeholder="Enter Email" bind="@Email" required />

            <label><b>Password</b></label>
            <input type="password" name="password" placeholder="Enter Password" bind="@Password" required />

            <button type="button" onclick="@RegisterClick">Login</button>
        </div>
    </form>
</div>

@functions {
    public string Email { get; set; }
    public string Password { get; set; }

    void RegisterClick()
    {
        Console.WriteLine($"Email: {Email}, Password:{Password} ");
    }
}
