@inherits BlazorLayoutComponent
@using Rummy.Shared.Models
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div class="col-md-10 ml-md-auto"></div>
        <h2 class="ml-md-auto">@email</h2>
        <button onclick="@ActionClick" class="ml-md-auto">@action</button>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@functions{
    public string action;
    public string email;

    protected override void OnInit()
    {
        var auth = Storage.GetItem<AuthResponse>("auth");
        Console.WriteLine(auth == null);
        if (auth == null)
        {
            action = "Login";
        }
        else
        {
            email = auth.Email;
            action = "Logout";
        }
    }

    void ActionClick()
    {
        if (action == "Logout")
        {
            Storage.Clear();
            email = "";
            action = "Login";
        }
        else
        {
            UriHelper.NavigateTo("login");
        }
    }
}
