@inherits BlazorLayoutComponent
@using Rummy.Shared.Models
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<div class="app">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row d-flex flex-row-reverse">
            <button onclick="@ActionClick" class="btn btn-dark p-2 ">@action</button>
            <label id="email" class="text-dark p-2">@email</label>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@functions{
    public string action;
    public string email;

    protected override void OnInit()
    {
        var auth = Storage.GetItem<AuthResponse>("auth");
        Console.WriteLine(auth == null);
        if (auth == null)
        {
            action = "Login";
        }
        else
        {
            email = auth.Email;
            action = "Logout";
        }
    }

    void ActionClick()
    {
        if (action == "Logout")
        {
            Storage.Clear();
            email = "";
            action = "Login";
        }
        else
        {
            UriHelper.NavigateTo("login");
        }
    }
}
