@inherits BlazorLayoutComponent
@using Rummy.Shared.Models
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<div class="app">
    @*<div class="sidebar">
            <NavMenu />
        </div>*@

    <div class="main">
        <div class="top-row d-flex flex-row-reverse">
            <button onclick="@Logout" class="btn btn-dark p-2 ">Logout</button>
            <label id="email" class="text-dark p-2">@email</label>
        </div>

        <div class="content">
            @Body
        </div>
    </div>
</div>

@functions{
    public string email;

    protected override void OnInit()
    {
        var auth = Storage.GetItem<AuthResponse>("auth");

        if (auth == null)
        {
            UriHelper.NavigateTo("login");
        }
        else
        {
            email = auth.Email;
        }
    }

    void Logout()
    {

        Storage.Clear();
        UriHelper.NavigateTo("login");
    }
}
