@using Rummy.Services
@using Models
@inject DragAndDropService DragAndDropService

@{ 
    var draggable = Model.Type != PieceModel.Types.Empty;
}

<div ondragover="event.preventDefault()" @ondrop="@Drop">
    <div draggable=@draggable.ToString() @ondragstart="@DragStart">
        @if (Model.Type == PieceModel.Types.Normal)
        {
            <div class="@Model.Color.ToString().ToLower() piece">@Model.Number</div>
        }

        @if (Model.Type == PieceModel.Types.Joker)
        {
            <div class="piece">:)</div>
        }

        @if (Model.Type == PieceModel.Types.Empty)
        {
            <div class="piece empty-piece"></div>
        }

        @if (Model.Type == PieceModel.Types.FaceDown)
        {
            <div class="piece face-down-piece"></div>
        }
    </div>
</div>

@code {
    [Parameter]
    private PieceModel Model { get; set; }

    [Parameter]
    Action<PieceModel, PieceModel> OnDrop { get; set; }

    void Drop()
    {
        OnDrop(DragAndDropService.Model, Model);
    }

    void DragStart()
    {
        DragAndDropService.StartDrag(Model);
    }
}
