@using Rummy.Services
@using Models
@inject DragAndDropService DragAndDropService

<div ondragover="event.preventDefault()" @ondrop="@OnDrop">
    <div draggable="true" @ondragstart="@OnDragStart">
        <div style="color:@Model.Color" class="piece">@Model.Number</div>
    </div>
</div>

@code {
    [Parameter]
    private PieceModel Model { get; set; }

    [Parameter]
    Action<PieceModel, PieceModel> Drop { get; set; }

    void OnDrop()
    {
        Drop(DragAndDropService.Model, Model);
    }

    void OnDragStart()
    {
        // Notify the DragAndDropService what the current Data and Zone are.
        DragAndDropService.StartDrag(Model, "");
    }
}
