@using Rummy.Services
@using Models
@inject DragAndDropService DragAndDropService

<div ondragover="event.preventDefault()" @ondrop="@Drop">
    <div draggable="true" @ondragstart="@DragStart">
        <div style="color:@Model.Color" class="piece">@Model.Number</div>
    </div>
</div>

@code {
    [Parameter]
    private PieceModel Model { get; set; }

    [Parameter]
    Action<PieceModel, PieceModel> OnDrop { get; set; }

    void Drop()
    {
        OnDrop(DragAndDropService.Model, Model);
    }

    void DragStart()
    {
        // Notify the DragAndDropService what the current Data and Zone are.
        DragAndDropService.StartDrag(Model, "");
    }
}
